@import "tailwindcss";

@theme {
  --color-emerald-500: #10b981;
  --color-slate-900: #0f172a;
  --color-slate-800: #1e293b;
  --color-slate-700: #334155;
  --color-slate-400: #94a3b8;
  --color-black: #000000;
}

@layer base {
  body {
    @apply bg-black text-slate-100 antialiased;
  }
}

.lua-editor {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
